body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, serif;
}
.theme-toggle{
    display: none;
}
#header {
    background-color: #050b20;
    color: white;
}

#branding{
    color: white;
    text-transform: uppercase;
}
html[data-theme="light"], :root  {
    --accent: white;
    --selected-row: #b0bbde;
    --header-color: #d2d9ef;
    --secondary: #0A1947;
    --default-button-bg: #4668d5;
}

html[data-theme="dark"]{
    --accent: white;
    --selected-row: #b0bbde;
    --header-color: #d2d9ef;
    --secondary: #0A1947;
    --default-button-bg: #4668d5;
}

.module caption{
    background-color: #0A1947;
    font-weight: bold;
    text-transform: uppercase;
}

#content h1{
    font-weight: bold;
    color: black;
}

a:link, a:visited {
    color: black;
}
div.breadcrumbs{
    background-color: #0A1947;
}

