body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, serif;
}

.open {
    display: flex !important;
}

/*Header*/

header {
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff; /* Set the background color as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for a subtle effect */
}

.burger {
    display: none;
    float: right;
    margin-right: 5%;
    margin-top: 20px;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 0.3s ease 0s;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: black;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

/* Добавляем класс active для анимации иконки бургера */
.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

header .logo {
    height: auto;
    width: 65px;
    float: left;
    margin-left: 5%;
}

#firm_name {
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    float: left;

    vertical-align: middle;
    margin: 12px 0;
    font-size: 32px;
}

.navbar {
    float: right;
    font-family: Montserrat, serif;
    font-weight: 500;
    font-size: larger;
    color: black;
    text-decoration: none;
    margin-right: 5%;
    margin-top: 20px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    vertical-align: middle; /* Выравнивание элементов по вертикали */
}

.navbar a:not(:last-child)::after {
    display: flex;
    content: "|"; /* Add the separator content */
    margin-left: 10px; /* Adjust the space between link and separator */
    color: black; /* Color of the separator */
    display: inline-block; /* Make sure the separator is inline with the text */
    vertical-align: middle; /* Выравнивание элементов по вертикали */
}

.navbar a:hover {
    font-weight: bold;
}

.navbar a:hover::after {
    font-weight: 500; /* To ensure the separator doesn't get bold on hover */
}

.num-icon {
    max-width: 20px; /* Максимальная ширина логотипа */
    height: auto; /* Сохраняем пропорции */
    vertical-align: middle; /* Выравнивание элементов по вертикали */
}

@media (max-width: 1200px) {
    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        display: none; /* Скрываем первый, второй и третий элементы в мобильной версии */
    }
}
@media (max-width: 1100px) {
    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        display: none; /* Скрываем первый, второй и третий элементы в мобильной версии */
    }

    .logo {
        width: 55px; /* Максимальная ширина логотипа */
        height: auto; /* Сохраняем пропорции */
        margin-left: 5%; /* Отступ слева от логотипа */
    }

    #firm_name {
        font-size: 26px;
        margin: 16px 0;
    }
}

@media (max-width: 950px) {

    .navbar a:nth-child(3) {
        display: none; /* Скрываем первый, второй и третий элементы в мобильной версии */
    }

}

@media (max-width: 768px) {
    .navbar {
        width: 100%; /* Занимаем всю доступную ширину */
        float: left;
        margin-left: 5%;

        display: none;
        flex-direction: column;

        margin-bottom: 20px; /* Увеличиваем отступы между элементами */
        font-size: 24px;
    }

    .navbar a:not(:last-child)::after {
        content: none; /* Убираем разделитель для мобильной версии */
        margin-left: 0; /* Убираем отступ разделителя для мобильной версии */
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2),
    .navbar a:nth-child(3) {
        display: none; /* Скрываем первый, второй и третий элементы в мобильной версии */
    }

    .logo {
        width: 60px; /* Максимальная ширина логотипа */
        height: auto; /* Сохраняем пропорции */
        margin-left: 5%; /* Отступ слева от логотипа */
    }

    #firm_name {
        font-size: 24px;
        margin: 16px 0;
    }

    .burger {
        display: flex;
    }
}

@media (max-width: 360px) {
    #firm_name {
        font-size: 20px;
        margin: 18px 0;
    }
}
/*Map*/

.map {
    width: 100%;
    height: 500px;
    position: relative;
    margin: 0;
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 500px; /* Высоту можно настроить по вашему усмотрению */
    border: none;
    margin: 0;
    padding: 0;
}

/*Footer*/

/*Footer*/
footer {

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-around; /* Adjust this value */
    width: 100%;
}

.footer_fst {
    margin: 0;
    padding: 0;
    text-align: center; /* Changed from vertical-align to text-align */
}

.line {
    width: 90%; /* Ensure the line spans the full width */
    margin: 20px 0;
}

.contact h3,
.navigation h3 {
    margin: 0 0 20px 0;
    padding: 0;
}

.contact,
.navigation {
    display: flex;
    float: left;
    align-items: start;
    flex-direction: column;
}

.contact a,
.navigation a {
    color: white;
    float: left;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
}

.contact a img,
.navigation a img {
    float: left;
    margin-right: 10px;
}

.social-icons a img {
    float: left;
    margin: 10px 20px 10px 0;
}

.footer2 {
    color: white;
    margin: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #050b20;
    display: flex;
    align-items: flex-end; /* Adjust alignment */
}

.footer2 img {
    margin-left: 2%;
}

.text-container {
    margin-left: 0.5%;
    margin-bottom: 5px;
}


@media (max-width: 980px) {


;
}

@media (max-width: 500px) {
    .left h2, .right h2 {
        font-size: 1.1em;
    }
}


/*main*/
main {
    width: 100%; /* Ширина main будет 100% от родительского контейнера */
}

.address {
    display: flex;
}

table {
    margin: 0 10%;
    width: 100%;
}

thead {
    font-size: 26px;
    text-align: center;
    color: #173494;
}

#th1 {
    width: 50%;
}

#th2 {
    width: 25%;
}

#th3 {
    width: 25%;
}

hr {
    margin-top: 0;
}

/*table thead th { border-bottom: 3px dashed #173494;; }*/
td {
    text-align: center;
    padding: 1%;
    font-size: 24px;
    font-weight: 500;
}

.hr-lines {
    position: relative;
    max-width: 500px;
    text-align: center;
}

.hr-lines:before {
    content: " ";
    height: 2px;
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

.hr-lines:after {
    content: " ";
    height: 2px;
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

.hr-lines#th1:after,
.hr-lines#th1:before {
    width: 40%;
}

.hr-lines#th2:after,
.hr-lines#th2:before {
    width: 35%;
}

.hr-lines#th3:after,
.hr-lines#th3:before {
    width: 35%;
}

.hotline {
    margin: 0 10%;
}

.hotline-hr {
    font-size: 26px;
    text-align: center;
    color: #173494;
}

.hotline-hr {
    width: 100%;
    position: relative;
    text-align: center;
}

.hotline-hr:before {
    content: " ";
    height: 2px;
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
}

.hotline-hr:after {
    content: " ";
    height: 2px;
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 40%;
}

@media (max-width: 1345px) {
    .hr-lines#th1:after,
    .hr-lines#th1:before {
        width: 35%;
    }

    .hr-lines#th2:after,
    .hr-lines#th2:before {
        width: 28%;
    }

    .hr-lines#th3:after,
    .hr-lines#th3:before {
        width: 28%;
    }

    .hotline-hr:after,
    .hotline-hr:before {
        width: 35%;
    }
}

@media (max-width: 986px) {
    .hr-lines#th1:after,
    .hr-lines#th1:before {
        width: 30%;
    }

    .hr-lines#th2:after,
    .hr-lines#th2:before {
        width: 20%;
    }

    .hr-lines#th3:after,
    .hr-lines#th3:before {
        width: 20%;
    }

    td {
        font-size: 20px;
    }

    .hotline-hr:after,
    .hotline-hr:before {
        width: 30%;
    }
}

@media (max-width: 640px) {
    .hr-lines#th1:after,
    .hr-lines#th1:before {
        width: 25%;
        height: 2px;
    }

    .hr-lines#th2:after,
    .hr-lines#th2:before {
        width: 15%;
        height: 2px;
    }

    .hr-lines#th3:after,
    .hr-lines#th3:before {
        width: 15%;
        height: 2px;
    }

    .hotline-hr {
        font-size: 22px;
    }

    td {
        font-size: 16px;
    }

    .hotline-hr:after,
    .hotline-hr:before {
        width: 20%;
    }
}

@media (max-width: 500px) {
    thead {
        font-size: 18px;
    }

    .hotline-hr {
        font-size: 18px;
    }

    .hr-lines#th1:after,
    .hr-lines#th1:before {
        width: 20%;

    }

    .hr-lines#th2:after,
    .hr-lines#th2:before {
        width: 8%;
    }

    .hr-lines#th3:after,
    .hr-lines#th3:before {
        width: 8%;
    }

    td {
        border-bottom: 1px solid rgba(23, 52, 148, 0.3);
    }

}

.hotline-table {
    margin: 0;
    padding: 0;
}

.hl1 {
    width: 5%;
}

.hl2 {
    text-align: left;
    width: 45%;
}

.hl3, .hl4 {
    text-align: center;
    width: 25%;
}

a {
    text-decoration: none;
    color: black;
}


@media (max-width: 850px) {
    .hl1 {
        border: none;
    }

    .hl2 {
        font-size: 18px;
        width: 35%;
        border: none;
    }

    .hl3, .hl4 {
        width: 30%;
        border: none;
    }

    .qr-img {
        height: 150px;
        width: auto;
    }
}

@media (max-width: 620px) {
    .hl1 {
        border: none;
    }

    .hl2 {
        display: none;
        width: 0;
        border: none;
    }

    .hl3, .hl4 {
        width: 47.5%;
        border: none;
    }

    .qr-img {
        height: 150px;
        width: auto;
    }
}

@media (max-width: 400px) {
    .qr-img {
        height: 120px;
        width: auto;
    }
}

/*Contacts*/
.form {
    margin: 0 10% 2% 10%;
}

.form h4 {
    font-size: 24px;
    text-align: left;
    font-weight: 500;
}

button {
    background-color: #0A1947;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: Montserrat, serif;
    border: 0;
}

button:hover {
    background-color: #173494;
}