body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, serif;
}

/**{*/
/*    border: 1px red solid;*/
/*}*/
.open {
    display: flex !important;
}

header {
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff; /* Set the background color as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for a subtle effect */
}

header .logo {
    height: auto;
    width: 65px;
    float: left;
    margin-left: 5%;
}

#firm_name {
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    float: left;
    color: black;
    vertical-align: middle;
    margin: 12px 0;
    font-size: 32px;
}

.burger {
    display: none;
    float: right;
    margin-right: 5%;
    margin-top: 20px;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 0.3s ease 0s;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: black;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

/* Добавляем класс active для анимации иконки бургера */
.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


.navbar {
    float: right;
    font-family: Montserrat, serif;
    font-weight: 500;
    font-size: larger;
    color: black;
    text-decoration: none;
    margin-right: 5%;
    margin-top: 20px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    vertical-align: middle; /* Выравнивание элементов по вертикали */
}

.navbar a:not(:last-child)::after {
    display: flex;
    content: "|"; /* Add the separator content */
    margin-left: 10px; /* Adjust the space between link and separator */
    color: black; /* Color of the separator */
    display: inline-block; /* Make sure the separator is inline with the text */
    vertical-align: middle; /* Выравнивание элементов по вертикали */
}

.navbar a:hover {
    font-weight: bold;
}

.navbar a:hover::after {
    font-weight: 500; /* To ensure the separator doesn't get bold on hover */
}

.num-icon {
    max-width: 20px; /* Максимальная ширина логотипа */
    height: auto; /* Сохраняем пропорции */
    vertical-align: middle; /* Выравнивание элементов по вертикали */
}

@media (max-width: 1200px) {
    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        display: none; /* Скрываем первый, второй и третий элементы в мобильной версии */
    }
}

@media (max-width: 1100px) {
    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        display: none; /* Скрываем первый, второй и третий элементы в мобильной версии */
    }

    .logo {
        width: 55px; /* Максимальная ширина логотипа */
        height: auto; /* Сохраняем пропорции */
        margin-left: 5%; /* Отступ слева от логотипа */
    }

    #firm_name {
        font-size: 26px;
        margin: 16px 0;
    }
}

@media (max-width: 950px) {

    .navbar a:nth-child(3) {
        display: none; /* Скрываем первый, второй и третий элементы в мобильной версии */
    }

}

@media (max-width: 768px) {
    .navbar {
        width: 100%; /* Занимаем всю доступную ширину */
        float: left;
        margin-left: 5%;

        display: none;
        flex-direction: column;

        margin-bottom: 20px; /* Увеличиваем отступы между элементами */
        font-size: 24px;
    }

    .navbar a:not(:last-child)::after {
        content: none; /* Убираем разделитель для мобильной версии */
        margin-left: 0; /* Убираем отступ разделителя для мобильной версии */
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2),
    .navbar a:nth-child(3) {
        display: none; /* Скрываем первый, второй и третий элементы в мобильной версии */
    }

    .logo {
        width: 60px; /* Максимальная ширина логотипа */
        height: auto; /* Сохраняем пропорции */
        margin-left: 5%; /* Отступ слева от логотипа */
    }

    #firm_name {
        font-size: 24px;
        margin: 16px 0;
    }

    .burger {
        display: flex;
    }
}

@media (max-width: 360px) {
    #firm_name {
        font-size: 20px;
        margin: 18px 0;
    }
}

main {
    width: 100%; /* Ширина main будет 100% от родительского контейнера */
}

hr {
    margin-top: 0;
}

/*.fst {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: flex-end;*/
/*    background-color: #173494;*/
/*}*/

/*.pc {*/
/*    display: block;*/
/*}*/

/*.mob {*/
/*    display: none;*/
/*}*/

/*.fst .pc img, .fst .mob img {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    display: block;*/
/*}*/

/*@media (max-width: 767px) {*/
/*    .pc {*/
/*        display: none;*/
/*    }*/

/*    .mob {*/
/*        display: block;*/
/*    }*/
/*}*/


/*news*/

.news {
    margin-top: 65px;
    display: flex;
    align-items: center;
}
.autoplay_news, .single-image {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
.slick-slide img, .single-image img {
    margin: 0;
    padding: 0;
    width: 100%; /* Заставляет изображение занимать всю ширину слайда */
    height: auto; /* Сохраняет пропорции изображения */
    object-fit: cover; /* Если изображение имеет другой соотношение сторон, оно будет обрезано по размеру слайда */
}

/*scd*/

.scd h1 {
    font-size: 26px;
    font-weight: 400;
    text-align: center
}

.container {
    display: flex;
}


.left h2,
.left p {
    margin-left: 40%;
    color: #0A1947;
    margin-bottom: 30px;
    text-align: justify;
    width: 60%;
    padding-right: 20px;
}

.right p {
    color: #0A1947;
    margin-bottom: 30px;
    text-align: justify;
    width: 60%;
    padding-left: 20px;
}

.right h2 {
    color: #0A1947;
    margin-bottom: 30px;
    text-align: justify;
    width: 48%;
    padding-left: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
}

.left,
.right {
    width: 50%; /* Изначально ширина 50% для десктопа */
}

@media (max-width: 850px) {
    .left h2,
    .left p {
        margin-left: 20%;
        width: 80%;
    }

    .right p {
        width: 80%;
    }

    .right h2 {
        width: 68%;
    }
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column; /* Вертикальное расположение элементов */
    }

    .left,
    .right {
        width: 100%; /* Устанавливаем 100% ширину для мобильных устройств */
        text-align: center; /* Центрируем текст */

    }

    .left h2,
    .right h2 {
        width: 90%; /* Устанавливаем 100% ширину для мобильных устройств */
        margin: 0;
        padding: 10px 5%;
        text-align: center;
    }

    .left p,
    .right p {
        width: 90%; /* Устанавливаем 100% ширину для мобильных устройств */
        margin: 0;
        padding: 10px 5%;

    }
}


/*third*/
.thd h2 {
    font-weight: bold;
    text-align: center;
    color: #0A1947;
}

.autoplay {
    width: 100%;
    padding: 0;
    position: relative;
}

.slick-slide img {
    margin: 0;
    padding: 0;
    width: 100%; /* Заставляет изображение занимать всю ширину слайда */
    height: auto; /* Сохраняет пропорции изображения */
    object-fit: cover; /* Если изображение имеет другой соотношение сторон, оно будет обрезано по размеру слайда */
    transition: opacity 0.3s ease;
}

.carousel-item {
    position: relative;
    flex-shrink: 0;
    transition: background-color 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.carousel-item:hover .overlay {
    opacity: 1;
}

.carousel-item:hover {

    background-color: rgba(0, 0, 0, 0.4);
}

.text {
    font-weight: bold;
    color: white;
    font-size: 40px;
    margin-bottom: 10px;

}

/* Отключение эффекта hover на устройствах с сенсорными экранами */
@media (hover: none) and (pointer: coarse) {
    .carousel-item:hover .overlay {
        opacity: 0; /* Отключаем появление наложения */
    }

    .carousel-item:hover {
        filter: none; /* Убираем затемнение */
        background-color: transparent; /* Возвращаем фон в исходное состояние */
    }

    .text {
        display: none;
    }
}

/*four*/

.four {
    width: 100%;

    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
}

.socials {
    float: left;
    width: 50%;

    text-align: center;

}

.socials a {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Обрезаем все, что выходит за границы элемента */


}

.socials a img {
    display: block;
    transition: transform 0.5s ease; /* Анимация для основного изображения */

}

.socials h1, .property h1 {
    font-weight: 400;
    text-align: center
}

.property {
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.property p {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.socials-hr, .property-hr {
    font-size: 26px;
    text-align: center;
    color: black;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.socials-hr, .property-hr {
    width: 100%;
    position: relative;
    text-align: center;
}

.socials-hr:before, .property-hr:before {
    content: " ";
    height: 1px;
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

.socials-hr:after, .property-hr:after {
    content: " ";
    height: 1px;
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

.socials-hr:before, .socials-hr:after {
    width: 40%;
}

.property-hr:before, .property-hr:after {
    width: 38%;
}


/* Скрываем псевдоэлемент по умолчанию */
.socials a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: left 0.3s ease; /* Анимация движения слева-направо */
    z-index: 1;
}

/* VK */
.socials a[href*="vk.com"]::before {
    background: url("/static/img/main/home/four/vkontakte-hover.svg");
}

/* Telegram */
.socials a[href*="t.me"]::before {
    background: url("/static/img/main/home/four/telegram-hover.svg");
}

/* WhatsApp */
.socials a[href*="wa.me"]::before {
    background: url("/static/img/main/home/four/whatapp-hover.svg");
}

/* Instagram */
.socials a[href*="instagram.com"]::before {
    background: url("/static/img/main/home/four/instagram-hover.svg");
}

/* Эффект наведения */
.socials a:hover img {
    transform: translateX(100%); /* Сдвиг основного изображения вправо */
}

.socials a:hover::before {
    left: 0; /* Плавный сдвиг псевдоэлемента на место изображения */
}

@media (hover: none) and (pointer: coarse) {
    .socials a:hover img {
        transform: none; /* Отключаем сдвиг изображения на сенсорных экранах */
    }

    .socials a:hover::before {
        left: -100%; /* Отключаем появление псевдоэлемента на сенсорных экранах */
    }
}


.socials,
.property {
    width: 50%; /* Ширина 50% для настольных устройств */
}

@media (max-width: 1256px) {


    .property-hr:before, .property-hr:after {
        width: 33%;
    }

    .socials {
        width: 60%;
    }

    .property {
        width: 40%;
    }
}

@media (max-width: 1055px) {
    .socials-hr:before, .socials-hr:after {
        width: 38%;
    }

    .property-hr:before, .property-hr:after {
        width: 30%;
    }

    .socials {
        width: 60%;
    }

    .property {
        width: 40%;
    }
}

@media (max-width: 955px) {
    .socials-hr:before, .socials-hr:after {
        width: 36%;
    }

    .property-hr:before, .property-hr:after {
        width: 24%;
    }

    .socials {
        width: 60%;
    }

    .socials a img {
        width: 110px;
    }

    .property {
        width: 40%;
    }

    .property p {
        font-size: 18px;
    }
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .four {
        flex-direction: column; /* Располагаем элементы по вертикали */
    }

    .socials,
    .property {
        width: 100%; /* Заставляем блоки занимать всю ширину экрана на мобильных устройствах */
    }

    .socials-hr:before, .socials-hr:after {
        width: 36%;
    }

    .property-hr:before, .property-hr:after {
        width: 34%;
    }

    .socials {
        order: 1; /* Соцсети идут первыми */
    }

    .socials a img {
        width: 150px;
    }

    .property {
        order: 2; /* Реквизиты идут вторыми */
    }

    .property p {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .socials-hr:before, .socials-hr:after {
        width: 28%;
    }

    .property-hr:before, .property-hr:after {
        width: 26%;
    }
}


/*map*/
.map {
    width: 100%;
    height: 500px;
    position: relative;
    margin: 0;
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 500px; /* Высоту можно настроить по вашему усмотрению */
    border: none;
    margin: 0;
    padding: 0;
}

/*Footer*/
footer {

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-around; /* Adjust this value */
    width: 100%;
}

.footer_fst {
    margin: 0;
    padding: 0;
    text-align: center; /* Changed from vertical-align to text-align */
}

.line {
    width: 90%; /* Ensure the line spans the full width */
    margin: 20px 0;
}

.contact h3,
.navigation h3 {
    margin: 0 0 20px 0;
    padding: 0;
}

.contact,
.navigation {
    display: flex;
    float: left;
    align-items: start;
    flex-direction: column;
}

.contact a,
.navigation a {
    color: white;
    float: left;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
}

.contact a img,
.navigation a img {
    float: left;
    margin-right: 10px;
}

.social-icons a img {
    float: left;
    margin: 10px 20px 10px 0;
}

.footer2 {
    color: white;
    margin: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #050b20;
    display: flex;
    align-items: flex-end; /* Adjust alignment */
}

.footer2 img {
    margin-left: 2%;
}

.text-container {
    margin-left: 0.5%;
    margin-bottom: 5px;
}


@media (max-width: 980px) {


;
}

@media (max-width: 500px) {
    .left h2, .right h2 {
        font-size: 1.1em;
    }
}

