{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% if form.instance.pk %}Изменить{% else %}Добавить{% endif %} услугу</title>
    <link type="image/svg+xml" sizes="96x96" rel="icon" href="{% static 'img/favicon/favicon.svg' %}">

</head>
<body>
<h1>{% if form.instance.pk %}Изменить{% else %}Добавить{% endif %} услугу</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
</form>

<a href="{% url 'admin_sp' %}">Назад</a>
</body>
</html>
