{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Студия Печати :: B2B{% endblock %}</title>
    <link href="{% static 'css/b2b.css' %}" rel="stylesheet">
    <script src="{% static 'js/index.js' %}" defer></script>
</head>
<body>

<header>
    <a href="{% url 'main:home' %}">
        <img class="logo" src="{% static 'img/header/logo.svg' %}" alt="">
    </a>
    <div class="burger">
        <span></span>
    </div>
    <nav class="navbar">
        <a href="#">
            <img class="num-icon" src="{% static 'img/header/wa.svg' %}" alt="">
        </a>
        <a href="https://t.me/sptomsk"><img class="num-icon" src="{% static 'img/header/tg.svg' %}" alt=""></a>
        <a href="https://wa.me/sptomsk"><img class="num-icon" src="{% static 'img/header/ph.svg' %}" alt="">
            +7(913)-114-55-24</a>
        <a href="{% url 'main:price' %}">ПРАЙС</a>
        <a href="{% url 'main:b2b' %}"><strong>В2В</strong></a>
        <a href="{% url 'contacts:contacts' %}">КОНТАКТЫ</a>
        <a href="{% url 'main:us' %}">О НАС</a>
    </nav>
</header>
<main>

    <div class="b2b">
        <h2>Услуги для корпоративных клиентов</h2>

        <h3>Индивидуальные решения для вашего бизнеса</h3>
        <p>В нашей студии печати мы понимаем, насколько важна качественная и оперативная печать для вашего бизнеса. Мы
            предлагаем комплексные решения для корпоративных клиентов, которые помогут вам выделиться на рынке и
            эффективно продвигать ваш бренд.</p>

        <h3>Наши услуги</h3>
    </div>
    <div class="thd">
        <button class="slide-arrow" id="slide-arrow-prev">
            &#8249;
        </button>
        <button class="slide-arrow" id="slide-arrow-next">
            &#8250;
        </button>
        <ul class="slides-container" id="slides-container">
            <div class="slide">
                <div class="slide-content">
                    <div class="text-container">
                        <h1>Печать визиток и деловых документов</h1>
                        <p>Визитки, бланки, конверты, папки</p>
                        <p>Индивидуальный дизайн и брендинг</p>
                        <p>Быстрая и качественная печать</p>
                    </div>
                    <div class="image-container">
                        <img src="{% static 'img/main/thd/slide1.png' %}" alt="slide1">
                    </div>

                </div>
            </div>
            <div class="slide">
                <div class="slide-content">
                    <div class="text-container">
                        <h1>Маркетинговые материалы</h1>
                        <p>Буклеты, листовки, каталоги</p>
                        <p>Плакаты и баннеры различных размеров</p>
                        <p>Презентационные материалы и POS-продукция</p>
                    </div>
                    <div class="image-container">
                        <img src="{% static 'img/main/thd/slide2.png' %}" alt="slide2" style="margin-top: 20px">
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide-content">
                    <div class="text-container">
                        <h1>Корпоративные подарки и сувениры</h1>
                        <p>Персонализированные блокноты, ручки, календари</p>
                        <p>Подарочные наборы с логотипом вашей компании</p>
                        <p>Упаковка и доставка</p>
                    </div>
                    <div class="image-container">
                        <img src="{% static 'img/main/thd/slide2.png' %}" alt="slide2" style="margin-top: 20px">
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide-content">
                    <div class="text-container">
                        <h1>Печать на текстиле</h1>
                        <p>Фирменные футболки, кепки, спецодежда</p>
                        <p>Печать на любых текстильных изделиях</p>
                        <p>Высококачественные материалы и стойкие краски</p>
                    </div>
                    <div class="image-container">
                        <img src="{% static 'img/main/thd/slide2.png' %}" alt="slide2" style="margin-top: 20px">
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide-content">
                    <div class="text-container">
                        <h1>Выставочные стенды и материалы</h1>
                        <p>Разработка и печать выставочных стендов</p>
                        <p>Ролл-апы, баннеры, плакаты</p>
                        <p>Полный комплекс услуг для успешного участия в выставках</p>
                    </div>
                    <div class="image-container">
                        <img src="{% static 'img/main/thd/slide2.png' %}" alt="slide2" style="margin-top: 20px">
                    </div>
                </div>
            </div>
        </ul>
    </div>
    <div class="feedback">
        <h3>Свяжитесь с нами!</h3>
        <div class="form">
            <h4>Напишите нам, если у вас есть вопросы!</h4>
            <p>
                Пожалуйста, напишите свое имя, адрес электронной почты и номер телефона.
            </p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
    <div class="partners">
        <h3>Наши партнеры</h3>
        <marquee behavior="scroll" scrolldelay="100" truespeed="True" direction="right"><img src="{% static 'img/main/b2b/TPU.png' %}"> <img
                src="{% static 'img/main/b2b/TUSUR.png' %}">
            <img src="{% static 'img/main/b2b/TSU.png' %}">
            <img src="{% static 'img/main/b2b/vorobey.jpg' %}">
            <img src="{% static 'img/main/b2b/bud.jpg' %}">
            <img src="{% static 'img/main/b2b/TSU.png' %}">
            <img src="{% static 'img/main/b2b/vorobey.jpg' %}">
            <img src="{% static 'img/main/b2b/TSU.png' %}">
            <img src="{% static 'img/main/b2b/vorobey.jpg' %}">
        </marquee>
    </div>


</main>
<footer style="background-image: url('{% static 'img/footer/tryapka.svg' %}')">
    <div class="footer_fst">
        <img class="line" src="{% static 'img\footer\line.svg' %}" alt="line">
        <div class="footer">
            <div class="contact">
                <h3>Контакты</h3>
                <a href="#"><img src="{% static 'img/footer/phone.svg' %}" alt="">+7(913)-114-55-24</a>
                <div class="social-icons">
                    <a href="https://t.me/sptomsk" target="_blank"><img src="{% static 'img/footer/tg.svg' %}"
                                                                        alt="Telegram"></a>
                    <a href="https://wa.me/sptomsk" target="_blank"><img src="{% static 'img/footer/wa.svg' %}"
                                                                         alt="WhatsApp"></a>
                    <a href="https://vk.com/sptomsk" target="_blank"><img src="{% static 'img/footer/vk.svg' %}"
                                                                          alt="VK"></a>
                    <a href="https://www.instagram.com/sptomsk" target="_blank"><img
                            src="{% static 'img/footer/inst.svg' %}" alt="Instagram"></a>
                </div>
                <a href="#"><img src="{% static 'img/footer/map.svg' %}" alt="">Адреса</a>

            </div>
            <div class="navigation">
                <h3>Навигация</h3>
                <a href="#">Главная страница</a>
                <a href="#">Услуги</a>
                <a href="#">Блог</a>
                <a href="#">Контакты</a>

            </div>
        </div>
        <img class="line" src="{% static 'img\footer\line.svg' %}" alt="line">
    </div>


    <div class="footer2">
        <img src="{% static 'img/footer/logo.svg' %}" alt="">
        <div class="text-container">
            <p>© 2024 | SP-TOMSK.RU | Все права защищены.</p>
        </div>
    </div>

</footer>


</body>
</html>
