{% extends "index.html" %}
{% load static %}
{% block title %} Каталог — Студия Печати{% endblock %}
{% block nav-links %}
    <a href="{% url 'main:price' %}">ПРАЙС</a>
    <a href="{% url 'catalog:catalog' %}"><strong>КАТАЛОГ</strong></a>
    <a href="{% url 'contacts:contacts' %}">КОНТАКТЫ</a>
{% endblock %}
{% block main %}
    <style>
    main{
        min-height: 920px;
    }
    </style>
    <div class="catalog_nav">
        <h2 class="catalog-hr">СУВЕНИРНАЯ ПРОДУКЦИЯ</h2>
        <button class="category-toggle"><img src="{% static 'img/main/contacts/setting.svg' %}" alt="setting"></button>
    </div>

    <div class="catalog-container">
        <div class="overlay"></div>
        <div class="category-list">
            <a href="{% url 'catalog:catalog' %}" class="{% if not current_category %}active{% endif %}">Все товары</a>
            {% for category in categories %}
                <a href="{% url 'catalog:catalog_by_category' category.slug %}"
                   class="{% if current_category and current_category.slug == category.slug %}active{% endif %}">
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>

        <div class="product-list">
            {% for variant in variants %}
                <div class="product">
                    <a href="{% url 'catalog:product_detail' variant.id %}">
                        <div class="image-container">
                            {% if variant.main_image %}
                                <img src="{{ variant.main_image.url }}" alt="{{ variant.name }}">
                            {% else %}
                                <img src="https://via.placeholder.com/250" alt="Нет изображения">
                            {% endif %}
                        </div>
                        <h3 class="product-title">
                            {{ variant.product.name }} /
                            {% if variant.color %}
                                <span class="color">Цвет: {{ variant.color.name }}</span>
                            {% endif %}
                        </h3>
                        <p class="description">{{ variant.product.description }}</p>
                        <div class="price">
                            {% if variant.price %}
                                <p> {{ variant.price|floatformat }} ₽</p>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
