{% extends "index.html" %}
{% load static %}
{% block title %} Контакты — Студия Печати{% endblock %}
{% block nav-links %}
    <a href="{% url 'main:price' %}">ПРАЙС</a>
    <a href="{% url 'catalog:catalog' %}">КАТАЛОГ</a>
    <a href="{% url 'contacts:contacts' %}"><strong>КОНТАКТЫ</strong></a>
{% endblock %}
{% block main %}
    <h2 id="contact-header">КОНТАКТЫ</h2>
    <hr>
    <div class="hotline">
        <h2 class="hotline-hr">ГОРЯЧАЯ ЛИНИЯ</h2>

        <div class="hotline-links">
            <div class="numbers">
                <a href="tel:+79131145524"><p href="none" target="_blank"><img src="{% static 'img/header/ph.svg' %}">+7(913)-114-55-24
                </p></a>
                <a href="https://t.me/sp_tomsk" target="_blank"><img
                        src="{% static 'img/header/tg.svg' %}">@sp_tomsk</a>
                <a href="https://wa.me/message/O4WLNX7JK56SM1" target="_blank"><img src="{% static 'img/header/wa.svg' %}">+7(913)-114-55-24</a>
            </div>
            <div class="qrs">
                <a href="https://t.me/sp_tomsk" target="_blank"><img
                        src="{% static 'img/main/contacts/qr-tg.jpg' %}"></a>
                <a href="https://wa.me/message/O4WLNX7JK56SM1" target="_blank">
                    <img height="233" width="233" src="{% static 'img/main/contacts/qr-wa.PNG' %}"></a>
            </div>
        </div>

    </div>
    <div class="address">


        <table class="addresses">
            <thead>
            <tr>
                <th class="hr-lines" id="th1">АДРЕСА</th>
                <th class="hr-lines" id="th2">ПН-ПТ</th>
                <th class="hr-lines" id="th3"> СБ-ВС</th>
            </tr>
            </thead>
            <tbody>
            {% for address in addresses %}
                <tr>
                    <td>{{ address.adress }}</td>
                    <td>{{ address.graphic_1 }}</td>
                    <td>{{ address.graphic_2 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="legal">
        <h2 class="legal-hr">ПРАВОВАЯ ИНФОРМАЦИЯ</h2>
        <div class="legal-flex">
            <div class="lft">
                <p>ИП Агабекян Нарек Гагикович<br/>
                    ИНН 701716832314<br/>
                    ОГРНИП 319703100073091</p>
                <a href="tel:+79131145524"><p>Тел .: +7(913)114-55-24</p></a>
            </div>
            <div class="rght">
                <p>
                    <a href="{% static 'legal/privacy.pdf' %}" target="_blank">Политика
                        конфиденциальности</a><br/>
                    <a href="{% static 'legal/privacy2.pdf' %}" target="_blank">Пользовательское
                        соглашение</a><br/>
                </p>
            </div>

        </div>
    </div>

    <div class="map">
        <a class="dg-widget-link"
           href="http://2gis.ru/tomsk/profiles/70000001025710625,70000001027631299,70000001021112001,70000001037942308,70000001078540254,70000001018853225,70000001083395090/center/85.01134872436525,56.49330096298038/zoom/12?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
            на карте Томска</a>
        <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
        <script charset="utf-8">
            new DGWidgetLoader({
                width: 1600,
                height: 400,
                borderColor: "#a3a3a3",
                pos: {lat: 56.49330096298038, lon: 85.01134872436525, zoom: 12},
                opt: {city: "tomsk"},
                org: [
                    {"id": "70000001025710625"},
                    {"id": "70000001027631299"},
                    {"id": "70000001021112001"},
                    {"id": "70000001083395090"},
                    {"id": "70000001037942308"},
                    {"id": "70000001078540254"},
                    {"id": "70000001018853225"},
                    {"id": "70000001092854657"}],
            });
        </script>
        <noscript style="color: #c00; font-size: 16px; font-weight: bold">Виджет карты использует JavaScript. Включите
            его в
            настройках вашего браузера.
        </noscript>
    </div>
{% endblock %}

