{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Студия Печати{% endblock %}</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <link type="image/svg+xml" sizes="96x96" rel="icon" href="{% static 'img/favicon/favicon.svg' %}">
    <link rel="apple-touch-icon" href="{% static 'img/favicon/favicon.svg' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
</head>
<body>
<header>
    <a href="{% url 'main:home' %}">
        <img class="logo" src="{% static 'img/header/logo.svg' %}" alt="">
        <p id="firm_name">СТУДИЯ ПЕЧАТИ</p>
    </a>
    <div class="burger">
        <span></span>
    </div>
    <nav class="navbar">
        <a href="#">
            <img class="num-icon" src="{% static 'img/header/wa.svg' %}" alt="">
        </a>
        <a href="https://t.me/sptomsk"><img class="num-icon" src="{% static 'img/header/tg.svg' %}" alt=""></a>
        <a href="https://wa.me/sptomsk"><img class="num-icon" src="{% static 'img/header/ph.svg' %}" alt="">
            +7(913)-114-55-24</a>
        <a href="{% url 'main:price' %}">ПРАЙС</a>
        <a href="{% url 'catalog:catalog' %}">КАТАЛОГ</a>
        <a href="{% url 'contacts:contacts' %}">КОНТАКТЫ</a>
    </nav>
</header>
<main>
    <div class="news">
        {% if news_images|length > 1 %}
            <div class="autoplay_news">
                {% for image in news_images %}
                    <div class="news-item">
                        <picture>
                            {% if image.image_big %}
                                <source srcset="{{ image.image_big.url }}" media="(min-width: 1200px)">
                            {% endif %}
                            {% if image.image_mobile %}
                                <source srcset="{{ image.image_mobile.url }}" media="(max-width: 767px)">
                            {% endif %}
                            <img src="{{ image.image.url }}" alt="{{ image.title }}" loading="lazy">
                        </picture>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="single-image">
                {% for image in news_images %}
                    <picture>
                        {% if image.image_big %}
                            <source srcset="{{ image.image_big.url }}" media="(min-width: 1200px)">
                        {% endif %}
                        {% if image.image_mobile %}
                            <source srcset="{{ image.image_mobile.url }}" media="(max-width: 767px)">
                        {% endif %}
                        <img src="{{ image.image.url }}" alt="{{ image.title }}" loading="lazy">
                    </picture>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="scd">
        <hr>
        <h1>О нас</h1>
        <hr>
        <div class="container">
            <div class="left">
                <h2>Сеть копицентров в Томске</h2>
                <p>У нас доступен весь спектр оперативно-полиграфических услуг, а так же изготовление сувенирной
                    продукции. Действуют скидки и специальные цены на многие товары, благодаря которым с нами выгодно работать.</p>
            </div>
            <div class="right">
                <h2>Появился вопрос? Решим быстро!</h2>
                <p>Обратившись в Студию печати, можете рассчитывать на качественный и вежливый сервис, оперативность выполнения заказа.</p>
            </div>
        </div>
    </div>

    <div class="thd">
        <h2>Примеры работ</h2>
        <div class="autoplay">
            <div class="carousel-item"><img src="{% static 'img/main/home/thd/1.png' %}" alt="Slide 1" loading="lazy">
                <div class="overlay">
                    <div class="text">ПРИМЕР</div>
                </div>
            </div>
            <div class="carousel-item"><img src="{% static 'img/main/home/thd/2.png' %}" alt="Slide 2" loading="lazy">
                <div class="overlay">
                    <div class="text">ПРИМЕР</div>
                </div>
            </div>
            <div class="carousel-item"><img src="{% static 'img/main/home/thd/3.png' %}" alt="Slide 3" loading="lazy">
                <div class="overlay">
                    <div class="text">ПРИМЕР</div>
                </div>
            </div>
            <div class="carousel-item"><img src="{% static 'img/main/home/thd/4.png' %}" alt="Slide 4" loading="lazy">
                <div class="overlay">
                    <div class="text">ПРИМЕР</div>
                </div>
            </div>
            <div class="carousel-item"><img src="{% static 'img/main/home/thd/5.png' %}" alt="Slide 5" loading="lazy">
                <div class="overlay">
                    <div class="text">ПРИМЕР</div>
                </div>
            </div>
            <div class="carousel-item"><img src="{% static 'img/main/home/thd/6.png' %}" alt="Slide 6" loading="lazy">
                <div class="overlay">
                    <div class="text">ПРИМЕР</div>
                </div>
            </div>
            <div class="carousel-item"><img src="{% static 'img/main/home/thd/7.png' %}" alt="Slide 7" loading="lazy">
                <div class="overlay">
                    <div class="text">ПРИМЕР</div>
                </div>
            </div>
        </div>
    </div>

    <div class="four">
        <div class="socials">
            <h1 class="socials-hr">Соцсети</h1>
            <a href="https://vk.com/sptomsk" target="_blank"><img src="{% static 'img/main/home/four/vkontakte.svg' %}" alt="VK"></a>
            <a href="https://t.me/sp_tomsk" target="_blank"><img src="{% static 'img/main/home/four/telegram.svg' %}" alt="Telegram"></a>
            <a href="https://wa.me/sptomsk" target="_blank"><img src="{% static 'img/main/home/four/whatapp.svg' %}" alt="WhatsApp"></a>
            <a href="https://www.instagram.com/studiopechati" target="_blank"><img src="{% static 'img/main/home/four/instagram.svg' %}" alt="Instagram"></a>
        </div>
        <div class="property">
            <h1 class="property-hr">Реквизиты</h1>
            <p>ИП Агабекян Нарек Гагикович<br/>
                ИНН 701716832314<br/>
                ОГРИП 319703100073091</p>
        </div>
    </div>
    <div class="map">
        <a class="dg-widget-link"
           href="http://2gis.ru/tomsk/profiles/70000001025710625,70000001027631299,70000001021112001,70000001037942308,70000001078540254,70000001018853225,70000001083395090/center/85.01134872436525,56.49330096298038/zoom/12?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
            на карте Томска</a>
        <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
        <script charset="utf-8">
            new DGWidgetLoader({
                width: 1600,
                height: 500,
                borderColor: "#a3a3a3",
                pos: {lat: 56.49330096298038, lon: 85.01134872436525, zoom: 12},
                opt: {city: "tomsk"},
                org: [
                    {id: "70000001025710625"},
                    {id: "70000001027631299"},
                    {id: "70000001021112001"},
                    {id: "70000001037942308"},
                    {id: "70000001078540254"},
                    {id: "70000001018853225"},
                    {id: "70000001083395090"},
                ],
            });
        </script>
        <noscript style="color: #c00; font-size: 16px; font-weight: bold">Виджет карты использует JavaScript. Включите
            его в настройках вашего браузера.
        </noscript>
    </div>
</main>
<footer style="background-image: url('{% static 'img/footer/tryapka.svg' %}')">
    <div class="footer_fst">
        <img class="line" src="{% static 'img\footer\line.svg' %}" alt="line">
        <div class="footer">
            <div class="contact">
                <h3>Контакты</h3>
                <a href="#"><img src="{% static 'img/footer/phone.svg' %}" alt="">+7(913)-114-55-24</a>
                <div class="social-icons">
                    <a href="https://t.me/sp_tomsk" target="_blank"><img src="{% static 'img/footer/tg.svg' %}"
                                                                         alt="Telegram"></a>
                    <a href="https://wa.me/sptomsk" target="_blank"><img src="{% static 'img/footer/wa.svg' %}"
                                                                         alt="WhatsApp"></a>
                    <a href="https://vk.com/sptomsk" target="_blank"><img src="{% static 'img/footer/vk.svg' %}"
                                                                          alt="VK"></a>
                    <a href="https://www.instagram.com/studiopechati" target="_blank"><img
                            src="{% static 'img/footer/inst.svg' %}" alt="Instagram"></a>
                </div>
                <a href="#"><img src="{% static 'img/footer/map.svg' %}" alt="">Адреса</a>

            </div>
            <div class="navigation">
                <h3>Навигация</h3>
                <a href="#">Главная страница</a>
                <a href="#">Услуги</a>
                <a href="#">Блог</a>
                <a href="#">Контакты</a>

            </div>
        </div>
        <img class="line" src="{% static 'img\footer\line.svg' %}" alt="line">
    </div>


    <div class="footer2">
        <img src="{% static 'img/footer/logo.svg' %}" alt="">
        <div class="text-container">
            <a>© 2024 | SP-TOMSK.RU | Все права защищены.</a>
        </div>
    </div>

</footer>

<!-- Загрузка скриптов в конце страницы -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<script type="text/javascript" src="{% static 'slick/slick.min.js' %}" defer></script>
<script src="{% static 'js/slick.js' %}"></script>
<script src="{% static 'js/index.js' %}" defer></script>

</body>
</html>
