{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Студия Печати{% endblock %}</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <script src="{% static 'js/index.js' %}" defer></script>
</head>
<body>
<header>
    <a href="{% url 'main:home' %}">
        <img class="logo" src="{% static 'img/header/logo.svg' %}" alt="">
    </a>
    <div class="burger">
        <span></span>
    </div>
    <nav class="navbar">
        <a href="#">
            <img class="num-icon" src="{% static 'img/header/wa.svg' %}" alt="">
        </a>
        <a href="https://t.me/sptomsk"><img class="num-icon" src="{% static 'img/header/tg.svg' %}" alt=""></a>
        <a href="https://wa.me/sptomsk"><img class="num-icon" src="{% static 'img/header/ph.svg' %}" alt="">
            +7(913)-114-55-24</a>
        <a href="{% url 'main:price' %}">ПРАЙС</a>
        <a href="{% url 'catalog:catalog' %}">КАТАЛОГ</a>
        <a href="{% url 'contacts:contacts' %}">КОНТАКТЫ</a>

    </nav>
</header>
<main>
    <div class="fst">
        <div class="pc">
            <img src="{% static 'img/main/add_swap.svg' %}" alt="">
        </div>
        <div class="mob">
            <img src="{% static 'img/main/mob_add.svg' %}" alt="">
        </div>
    </div>
    <div class="scd">
        <hr>
        <h1>О нас</h1>
        <hr>
        <div class="container">
            <div class="left">
                <h2>Сеть копицентров в Томске</h2>
                <p>У нас доступен весь спектр оперативно-полиграфических услуг, а так же изготовление сувенирной
                    продукции.
                    Действуют скидки и специальные цены на многие товары, благодаря которым с нами выгодно работать.</p>
            </div>
            <div class="right">
                <h2>Появился вопрос? Решим быстро!</h2>
                <p>Обратившись в Студию печати можете рассчитывать на качественный и вежливый сервис, оперативность
                    выполнения заказа.</p>
            </div>
        </div>
    </div>

    </div>
    <div class="thd">
        <button class="slide-arrow" id="slide-arrow-prev">
            &#8249;
        </button>
        <button class="slide-arrow" id="slide-arrow-next">
            &#8250;
        </button>
        <ul class="slides-container" id="slides-container">
            <div class="slide">
                <div class="slide-content">
                    <div class="text-container">
                        <h1>СУВЕНИРНАЯ ПЕЧАТЬ</h1>
                        <p>Создание уникальных подарков с логотипом: кружки, футболки, ручки.</p>
                        <p>Отличный способ продвижения бренда и повышения его узнаваемости.</p>
                    </div>
                    <div class="image-container">
                        <img src="{% static 'img/main/thd/slide1.png' %}" alt="slide1">
                    </div>

                </div>
            </div>
            <div class="slide">
                <div class="slide-content">
                    <div class="text-container">
                        <h1>ПОЛИГРАФИЯ</h1>
                        <p>Производство визиток, брошюр, каталогов и другой печатной продукции.</p>
                        <p>Высокое качество печати для рекламы и маркетинга.</p>
                    </div>
                    <div class="image-container">
                        <img src="{% static 'img/main/thd/slide2.png' %}" alt="slide2" style="margin-top: 20px">
                    </div>
                </div>
            </div>
        </ul>
    </div>
    <div class="four">
        <hr>
        <h1>О нас</h1>
        <hr>
        <div class="container">
            <div class="left">
                <h2>Сеть копицентров в Томске</h2>
                <p>У нас доступен весь спектр оперативно-полиграфических услуг, а так же изготовление сувенирной
                    продукции.
                    Действуют скидки и специальные цены на многие товары, благодаря которым с нами выгодно работать.</p>
            </div>
            <div class="right">
                <h2>Появился вопрос? Решим быстро!</h2>
                <p>Обратившись в Студию печати можете рассчитывать на качественный и вежливый сервис, оперативность
                    выполнения заказа.</p>
            </div>
        </div>
    </div>
    <div class="map">
        <a class="dg-widget-link"
           href="http://2gis.ru/tomsk/profiles/70000001025710625,70000001027631299,70000001021112001,70000001037942308,70000001078540254,70000001018853225,70000001083395090/center/85.01134872436525,56.49330096298038/zoom/12?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
            на карте Томска</a>
        <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
        <script charset="utf-8">
            new DGWidgetLoader({
                width: 1600,
                height: 500,
                borderColor: "#a3a3a3",
                pos: {lat: 56.49330096298038, lon: 85.01134872436525, zoom: 12},
                opt: {city: "tomsk"},
                org: [
                    {id: "70000001025710625"},
                    {id: "70000001027631299"},
                    {id: "70000001021112001"},
                    {id: "70000001037942308"},
                    {id: "70000001078540254"},
                    {id: "70000001018853225"},
                    {id: "70000001083395090"},
                ],
            });
        </script>
        <noscript style="color: #c00; font-size: 16px; font-weight: bold">Виджет карты использует JavaScript. Включите
            его в настройках вашего браузера.
        </noscript>
    </div>
</main>
<footer style="background-image: url('{% static 'img/footer/tryapka.svg' %}')">
    <div class="footer_fst">
        <img class="line" src="{% static 'img\footer\line.svg' %}" alt="line">
        <div class="footer">
            <div class="contact">
                <h3>Контакты</h3>
                <a href="#"><img src="{% static 'img/footer/phone.svg' %}" alt="">+7(913)-114-55-24</a>
                <div class="social-icons">
                    <a href="https://t.me/sptomsk" target="_blank"><img src="{% static 'img/footer/tg.svg' %}"
                                                                        alt="Telegram"></a>
                    <a href="https://wa.me/sptomsk" target="_blank"><img src="{% static 'img/footer/wa.svg' %}"
                                                                         alt="WhatsApp"></a>
                    <a href="https://vk.com/sptomsk" target="_blank"><img src="{% static 'img/footer/vk.svg' %}"
                                                                          alt="VK"></a>
                    <a href="https://www.instagram.com/sptomsk" target="_blank"><img
                            src="{% static 'img/footer/inst.svg' %}" alt="Instagram"></a>
                </div>
                <a href="#"><img src="{% static 'img/footer/map.svg' %}" alt="">Адреса</a>

            </div>
            <div class="navigation">
                <h3>Навигация</h3>
                <a href="#">Главная страница</a>
                <a href="#">Услуги</a>
                <a href="#">Блог</a>
                <a href="#">Контакты</a>

            </div>
        </div>
        <img class="line" src="{% static 'img\footer\line.svg' %}" alt="line">
    </div>


    <div class="footer2">
        <img src="{% static 'img/footer/logo.svg' %}" alt="">
        <div class="text-container">
            <a>© 2024 | SP-TOMSK.RU | Все права защищены.</a>
        </div>
    </div>

</footer>
</body>

</html>
