{% load static %}
<!DOCTYPE html>
<html lang="ru">
<html prefix="og: http://ogp.me/ns#">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# мета-тэги для браузеров #}
    <meta name="yandex-verification" content="326507c267a59da1"/>
    <meta name="google-site-verification" content="HBnmBK0P3Vq0NCoEl1o5S5C32I3LoMZiXUKWEuouG2Q"/>

    <!-- OG-теги для соцсетей -->
    <meta property="og:title" content="Студия Печати">
    <meta property="og:site_name" content="Cеть копировальных центров в Томске">
    <meta property="og:description"
          content="Мы сеть копировальных центров в городе Томск. У нас доступен весь спектр оперативно-полиграфических услуг, а так же изготовление сувенирной продукции.">
    <meta property="og:image" content="https://sp-tomsk.ru/media/news/big/3.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <meta property="og:url" content="https://sp-tomsk.ru/">
    <meta property="og:type" content="article"/>

    <!-- Дополнительные мета-теги -->
    <meta name="description" content="Мы сеть копировальных центров в городе Томск
У нас доступен весь спектр оперативно-полиграфических услуг, а так же изготовление сувенирной продукции.">
    <meta name="keywords"
          content="копировальные центры, Томск, печать, полиграфические услуги, сувенирная продукция, оперативная полиграфия, студия печати">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Студия Печати{% endblock title %}</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>

{#    <link type="image/svg+xml" sizes="96x96" rel="icon" href="{% static 'img/favicon/favicon.svg' %}">#}
{#    <link rel="apple-touch-icon" href="{% static 'img/favicon/favicon.svg' %}"/>#}
{#    <link rel="icon" href="{% static 'img/favicon/favicon.svg' %}" type="image/x-icon">#}

    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.svg' %}"/>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}"/>
    <meta name="apple-mobile-web-app-title" content="SP-TOMSK"/>
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}"/>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">


</head>
<body>
{% block header %}
    <header>
        <a href="{% url 'main:home' %}">
            <img class="logo" src="{% static 'img/header/logo.svg' %}" alt="">
            <p id="firm_name">СТУДИЯ ПЕЧАТИ</p>
        </a>
        <div class="burger">
            <span></span>
        </div>
        <nav class="navbar">
            <a href="https://wa.me/message/O4WLNX7JK56SM1">
                <img class="num-icon" src="{% static 'img/header/wa.svg' %}" alt="">
            </a>
            <a href="https://t.me/sp_tomsk"><img class="num-icon" src="{% static 'img/header/tg.svg' %}" alt=""></a>
            <a href="tel:+79131145524"><img class="num-icon" src="{% static 'img/header/ph.svg' %}" alt="">
                +7(913)-114-55-24</a>

            {% block nav-links %}
                <a href="{% url 'main:price' %}">ПРАЙС</a>
                <a href="{% url 'catalog:catalog' %}">КАТАЛОГ</a>
                <a href="{% url 'contacts:contacts' %}">КОНТАКТЫ</a>
            {% endblock %}
        </nav>
    </header>
{% endblock header %}

<main>
    {% block main %}{% endblock main %}
</main>

{% block footer %}
    <footer style="background-image: url('{% static 'img/footer/tryapka.svg' %}');
            background-size: cover; /* Масштабирует изображение, чтобы оно полностью заполнило футер */
            background-repeat: no-repeat; /* Предотвращает дублирование изображения */
            background-position: center;">
        <div class="footer_fst">
            <img class="line" src="{% static 'img\footer\line.svg' %}" alt="line">
            <div class="footer-container">
                <div class="contact">
                    <h3>Контакты</h3>

                    <a href="{% url 'contacts:contacts' %}"><img src="{% static 'img/footer/map.svg' %}"
                                                                 alt="">Адреса</a>
                    <div class="social-icons">
                        <a href="https://t.me/sp_tomsk" target="_blank"><img
                                src="{% static 'img/footer/Vector-2.svg' %}"
                                alt="Telegram"></a>
                        <a href="https://wa.me/message/O4WLNX7JK56SM1" target="_blank"><img
                                src="{% static 'img/footer/Vector-1.svg' %}"
                                alt="WhatsApp"></a>
                        <a href="https://vk.com/sptomsk" target="_blank"><img src="{% static 'img/footer/Vector.svg' %}"
                                                                              alt="VK"></a>
                        <a href="https://www.instagram.com/studiopechati" target="_blank"><img
                                src="{% static 'img/footer/instagram.svg' %}" alt="Instagram"></a>
                    </div>
                    <a href="tel:+79131145524"><p><img src="{% static 'img/footer/phone.svg' %}" alt="">+7(913)-114-55-24
                    </p></a>

                </div>
                <div class="navigation">
                    <h3>Навигация</h3>
                    <a href="{% url 'main:home' %}">Главная страница</a>
                    <a href="{% url 'main:price' %}">Услуги</a>
                    <a href="{% url 'catalog:catalog' %}">Сувенирная продукция</a>
                    <a href="{% url 'contacts:contacts' %}">Контакты</a>

                </div>
            </div>
            <img class="line" src="{% static 'img\footer\line.svg' %}" alt="line">
        </div>


        <div class="footer2">
            <div class="desktop-container">
                <div class="text-container">
                    <img src="{% static 'img/footer/logo.svg' %}" alt="">
                    <p>© {{ current_year }} | SP-TOMSK.RU | Все права защищены.</p>
                </div>
                <div class="property">
                    <p>ИП Агабекян Нарек Гагикович<br/>
                        ИНН 701716832314<br/>
                        ОГРНИП 319703100073091</p>
                </div>
            </div>
            <div class="mobile-container">
                <img src="{% static 'img/footer/logo.svg' %}" alt="">
                <div class="text-container">
                    <p>© {{ current_year }} | SP-TOMSK.RU | Все права защищены.</p>
                    <p>ИП Агабекян Нарек Гагикович<br/>
                        ИНН 701716832314<br/>
                        ОГРНИП 319703100073091</p>
                </div>
            </div>

        </div>

    </footer>
{% endblock footer %}

<script src="{% static 'js/index.js' %}" defer></script>

{% block scripts %}{% endblock %}
<!-- designed by zhozhyr and entozhevlad -->
</body>
</html>
