{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Введите новый пароль</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link type="image/svg+xml" sizes="96x96" rel="icon" href="{% static 'img/favicon/favicon.svg' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

</head>
<body>
<h1>Введите новый пароль</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Изменить пароль</button>
</form>
</body>
</html>
