{% extends "index.html" %}
{% load static %}
{% block title %} Прайс-лист — Студия Печати{% endblock %}
{% block nav-links %}
    <a href="{% url 'main:price' %}"><strong>ПРАЙС</strong></a>
    <a href="{% url 'catalog:catalog' %}">КАТАЛОГ</a>
    <a href="{% url 'contacts:contacts' %}">КОНТАКТЫ</a>
{% endblock %}
{% block main %}
<h2 id="price-header">ПРАЙС-ЛИСТ</h2>
    <hr>
<div class="list">
        <ul>
            {% for category in categories %}
                <li class="category">
                    <strong class="category_name">{{ category.name }}</strong>
                    <ul>
                        {% for service in services %}
                            {% if service.category.id == category.id %}
                                <table class="service">
                                    <td id="td1">{{ service.name }}</td>
                                    <td id="td2">{{ service.price_display }} &#8381;</td>

                                </table>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

