{% extends "index.html" %}
{% load static %}
{% block title %} Каталог — Студия Печати{% endblock %}
{% block nav-links %}
    <a href="{% url 'main:price' %}">ПРАЙС</a>
    <a href="{% url 'catalog:catalog' %}"><strong>КАТАЛОГ</strong></a>
    <a href="{% url 'contacts:contacts' %}">КОНТАКТЫ</a>
{% endblock %}
{% block main %}
<div class="product-detail">
        <div class="product_general">
            <div class="product_img">
                {% if product.main_image %}
                    <img src="{{ product.main_image.url }}" alt="{{ product.product.name }} - {{ product.color.name }}">
                {% else %}
                    <img src="https://via.placeholder.com/300" alt="Нет изображения">
                {% endif %}
            </div>
            <div class="product_info">
                <h1>{{ product.product.name }}</h1>

                <!-- Ссылки на другие варианты -->
                <div class="other-variants">
                    {% for variant in other_variants %}
                        <a href="{% url 'catalog:product_detail' variant.id %}">
                            <img src="{{ variant.main_image.url|default:"Нет изображения" }}" alt="">
                        </a>
                    {% endfor %}
                </div>
                {% if product.color %}
                    <p>Цвет: {{ product.color.name }}</p>
                {% endif %}

                {% if product.product.size %}
                    <p>Размер: {{ product.product.size }}</p>
                {% endif %}

                {% if product.product.density %}
                    <p>Плотность: {{ product.product.density }}</p>
                {% endif %}

                {% if product.product.height %}
                    <p>Высота: {{ product.product.height }}</p>
                {% endif %}

                {% if product.product.diameter %}
                    <p>Диаметр: {{ product.product.diameter }}</p>
                {% endif %}

                {% if product.product.material %}
                    <p>Материал: {{ product.product.material }}</p>
                {% endif %}

                {% if product.product.application_method %}
                    <p>Метод нанесения: {{ product.product.application_method }}</p>
                {% endif %}

                {% if product.product.volume %}
                    <p>Объём: {{ product.product.volume }}</p>
                {% endif %}
                {% if product.product.kit %}
                    <p>Комплектация: {{ product.product.kit }}</p>
                {% endif %}
                {% if product.product.appointment %}
                    <p>Назначение: {{ product.product.appointment }}</p>
                {% endif %}
                <div class="product_price">
                    <h2>{{ product.price|floatformat  }}₽</h2>
                </div>

            </div>

            {#style="background-image: url('{% static '/img/main/product_detail/price_btn.svg' %}')"#}
        </div>

        <p><strong>ОПИСАНИЕ</strong> <br>
            {{ product.product.description }}</p>

        {% if product.product.additional_details %}
            <p><strong>Дополнительные детали:</strong> <br>
                {{ product.product.additional_details }}</p>
        {% endif %}

        <div class="other-product">
            <p><strong>ЕЩЕ:</strong></p>
            <div class="cards">
                {% for variant in random_products %}
                    <div class="product">
                        <a href="{% url 'catalog:product_detail' variant.id %}">
                            <div class="image-container">
                                {% if variant.main_image %}
                                    <img src="{{ variant.main_image.url }}" alt="{{ variant.name }}">
                                {% else %}
                                    <img src="https://via.placeholder.com/250" alt="Нет изображения">
                                {% endif %}
                            </div>
                            <h3 class="product-title">
                                {{ variant.product.name }} /
                                {% if variant.color %}
                                    <span class="color">Цвет: {{ variant.color.name }}</span>
                                {% endif %}
                            </h3>
                            <p class="description">{{ variant.product.description }}</p>
                            <div class="price">
                                {% if variant.price %}
                                    <p>{{ variant.price|floatformat  }} ₽</p>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

