{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Студия Печати :: О нас{% endblock %}</title>
    <link href="{% static 'css/us.css' %}" rel="stylesheet">
    <script src="{% static 'js/index.js' %}" defer></script>
</head>
<body>
<header>
    <a href="{% url 'main:home' %}">
        <img class="logo" src="{% static 'img/header/logo.svg' %}" alt="">
    </a>
    <div class="burger">
        <span></span>
    </div>
    <nav class="navbar">
        <a href="#">
            <img class="num-icon" src="{% static 'img/header/wa.svg' %}" alt="">
        </a>
        <a href="#"><img class="num-icon" src="{% static 'img/header/tg.svg' %}" alt=""></a>
        <a href="#"><img class="num-icon" src="{% static 'img/header/ph.svg' %}" alt=""> +7(913)-114-55-24</a>
        <a href="{% url 'main:price' %}">ПРАЙС</a>
        <a href="{% url 'main:b2b' %}">В2В</a>
        <a href="{% url 'contacts:contacts' %}">КОНТАКТЫ</a>
        <a href="{% url 'main:us' %}"><strong>О НАС</strong></a>
    </nav>
</header>

<main>
    <div class="container">
        <h1>Студия печати: ксерокопия, печать фото, сувениры</h1>
        <p>Студия печати - сеть копировальных центров в Томске.</p>
        <p>Мы сеть копировальных центров в городе Томск. У нас доступен весь спектр оперативно-полиграфических услуг, а
            также изготовление сувенирной продукции.</p>
        <p>Действуют скидки и специальные цены на многие товары, благодаря которым с нами выгодно работать.</p>
        <p>Обратившись в Студию печати, можете рассчитывать на качественный и вежливый сервис, оперативность выполнения
            заказа.</p>
    </div>
    <div class="vacancies">
        <h1>Вступай в нашу команду!</h1>
        <div class="vacancy">
            <h2>Менеджер по продажам</h2>
            <p>Требуется опытный менеджер по продажам. Отличные коммуникативные навыки, умение работать в команде.
                Зарплата по результатам собеседования.</p>
        </div>
        <div class="vacancy">
            <h2>Оператор ксерокса</h2>
            <p>Приглашаем на работу оператора ксерокса. Опыт работы приветствуется. График работы обсуждается.</p>
        </div>
        <div class="vacancy">
            <h2>Дизайнер</h2>
            <p>Ищем талантливого дизайнера. Опыт работы с графическими редакторами. Гибкий график работы.</p>
        </div>
    </div>
</main>


<footer style="background-image: url('{% static 'img/footer/tryapka.svg' %}')">
    <div class="footer_fst">
        <img class="line" src="{% static 'img\footer\line.svg' %}" alt="line">
        <div class="footer">
            <div class="contact">
                <h3>Контакты</h3>
                <a href="#"><img src="{% static 'img/footer/phone.svg' %}" alt="">+7(913)-114-55-24</a>
                <div class="social-icons">
                    <a href="https://t.me/sptomsk" target="_blank"><img src="{% static 'img/footer/tg.svg' %}"
                                                                        alt="Telegram"></a>
                    <a href="https://wa.me/sptomsk" target="_blank"><img src="{% static 'img/footer/wa.svg' %}"
                                                                         alt="WhatsApp"></a>
                    <a href="https://vk.com/sptomsk" target="_blank"><img src="{% static 'img/footer/vk.svg' %}"
                                                                          alt="VK"></a>
                    <a href="https://www.instagram.com/sptomsk" target="_blank"><img
                            src="{% static 'img/footer/inst.svg' %}" alt="Instagram"></a>
                </div>
                <a href="#"><img src="{% static 'img/footer/map.svg' %}" alt="">Адреса</a>

            </div>
            <div class="navigation">
                <h3>Навигация</h3>
                <a href="#">Главная страница</a>
                <a href="#">Услуги</a>
                <a href="#">Блог</a>
                <a href="#">Контакты</a>

            </div>
        </div>
        <img class="line" src="{% static 'img\footer\line.svg' %}" alt="line">
    </div>


    <div class="footer2">
        <img src="{% static 'img/footer/logo.svg' %}" alt="">
        <div class="text-container">
            <a>© 2024 | SP-TOMSK.RU | Все права защищены.</a>
        </div>
    </div>

</footer>

</body>

</html>